.custom-text
    {
	
    position:absolute;
	top:160.5px;
    bottom:700px;
    width:5%;
}


	.custom-text-1
		{
		
		position:absolute;
		top:160.5px;
		bottom:700px;
		width:18%;
	}

.custom-text-2
    {
	
    position:absolute;
	top:235.5px;
    bottom:900px;
    width:5%;
}

.custom-text-3
    {
	
    position:absolute;
	top:235.5px;
    bottom:900px;
    width:17%;
}

.custom-text-4
    {
	
    position:absolute;

	top:315.5px;
    bottom:700px;
    width:5%;
}

.custom-text-5
    {
	
    position:absolute;
	top:317.5px;
    bottom:900px;
    width:17%;
}

.custom-text-6
    {
	
    position:absolute;
	top:380.5px;
    bottom:900px;
    width:5%;
}

.custom-text-7
    {
	
    position:absolute;
	top:380.5px;
    bottom:900px;
    width:17%;
}

.custom-text-8
    {
	
    position:absolute;
	top:460.5px;
    bottom:900px;
    width:5%;
}
.custom-text-9
    {
	
    position:absolute;
	top:460.5px;
    bottom:900px;
    width:17%;
}
.custom-text-10
    {
	
    position:absolute;
	top:530.5px;
    bottom:900px;
    width:5%;
}
.custom-text-11
    {
	
    position:absolute;
	top:530.5px;
    bottom:900px;
    width:17%;
}

.custom-text-12
    {
	
    position:absolute;
	top:770.5px;
    bottom:900px;
    width:5%;
}

.custom-text-13
    {
	
    position:absolute;
	top:770.5px;
    bottom:900px;
    width:20%;
}

.custom-text-14
    {
	
    position:absolute;
	top:770.5px;
    bottom:900px;
    width:33%;
}

.custom-text-15
    {
	
    position:absolute;
	top:840.5px;
    bottom:900px;
    width:5%;
}

.custom-text-16
    {
	
    position:absolute;
	top:840.5px;
    bottom:900px;
    width:20%;
}

.custom-text-17
    {
	
    position:absolute;
	top:840.5px;
    bottom:900px;
    width:33%;
}

.custom-text-18
    {
	
    position:absolute;
	top:920.5px;
    bottom:900px;
    width:5%;
}

.custom-text-19
    {
	
    position:absolute;
	top:920.5px;
    bottom:900px;
    width:20%;
}

.custom-text-20
    {
	
    position:absolute;
	top:920.5px;
    bottom:900px;
    width:33%;
}

.custom-text-21
    {
	
    position:absolute;
	top:990.5px;
    bottom:900px;
    width:5%;
}

.custom-text-22
    {
	
    position:absolute;
	top:990.5px;
    bottom:900px;
    width:20%;
}

.custom-text-23
    {
	
    position:absolute;
	top:990.5px;
    bottom:900px;
    width:33%;
}

.custom-text-24
    {
	
    position:absolute;
	top:1060.5px;
    bottom:900px;
    width:5%;
}

.custom-text-25
    {
	
    position:absolute;
	top:1060.5px;
    bottom:900px;
    width:20%;
}

.custom-text-26
    {
	
    position:absolute;
	top:1060.5px;
    bottom:900px;
    width:33%;
}

.custom-text-27
    {
	
    position:absolute;
	top:350.5px;
    bottom:700px;
    width:5%;
}

.custom-text-28
    {
	
    position:absolute;
	top:350.5px;
    bottom:700px;
    width:20%;
}

.custom-text-29
    {
	
    position:absolute;
	top:425.5px;
    bottom:700px;
    width:5%;
}

.custom-text-30
    {
	
    position:absolute;
	top:425.5px;
    bottom:700px;
    width:20%;
}

.custom-text-31
    {
	
    position:absolute;
	top:500.5px;
    bottom:700px;
    width:5%;
}

.custom-text-32
    {
	
    position:absolute;
	top:580.5px;
    bottom:700px;
    width:5%;
}

.custom-text-33
    {
	
    position:absolute;
	top:580.5px;
    bottom:700px;
    width:20%;
}

.custom-text-34
    {
	
    position:absolute;
	top:230.5px;
    bottom:700px;
    width:1%;
}

.custom-text-35
    {
	
    position:absolute;
	top:300.5px;
    bottom:700px;
    width:5%;
}

.custom-text-36
    {
	
    position:absolute;
	top:380.5px;
    bottom:700px;
    width:5%;
}






